/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MacPaw Fixel Text";
  src: url("../assets/font/FixelText-Regular.eot");
  src: url("../assets/font/FixelText-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/FixelText-Regular.woff2") format("woff2"), url("../assets/font/FixelText-Regular.woff") format("woff"), url("../assets/font/FixelText-Regular.ttf") format("truetype"), url("../assets/font/FixelText-Regular.svg#FixelText-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MacPaw Fixel Text";
  src: url("../assets/font/FixelText-Bold.eot");
  src: url("../assets/font/FixelText-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/FixelText-Bold.woff2") format("woff2"), url("../assets/font/FixelText-Bold.woff") format("woff"), url("../assets/font/FixelText-Bold.ttf") format("truetype"), url("../assets/font/FixelText-Bold.svg#FixelText-Bold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MacPaw Fixel Text";
  src: url("../assets/font/FixelText-Medium.eot");
  src: url("../assets/font/FixelText-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/font/FixelText-Medium.woff2") format("woff2"), url("../assets/font/FixelText-Medium.woff") format("woff"), url("../assets/font/FixelText-Medium.ttf") format("truetype"), url("../assets/font/FixelText-Medium.svg#FixelText-Medium") format("svg");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "MacPaw Fixel Text";
  background-color: #101111;
  color: #fff;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

b {
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
}

.regular-button {
  height: 59px;
  padding: 13px 40px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid #565656;
}
.regular-button_filled {
  background-color: #fff;
  color: #101111;
  border: 0px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 84px 1fr 50px;
  grid-template-rows: 84px 1fr 50px;
  width: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 70px;
  grid-template-columns: 40px 1fr 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  padding: 18px 76px;
}
.header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 39px;
  height: 30px;
  padding: 0 38px;
}
.header__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.header__menu-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: fit-content(300px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  line-height: 28px;
}
.header__menu-item {
  font-size: 18px;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.75);
}
.header__menu-item-button {
  color: #c4ebff;
  background-color: rgba(99, 133, 150, 0.5);
  padding: 9px 30px;
  height: auto;
}
.header__contacts {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(auto, 1024px);
}

.screen-1 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  gap: 38px;
}

.title {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}

.description {
  width: 650px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.screen-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 261px 1fr;
  grid-template-rows: 261px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 37px 0;
}
.gallery__item {
  width: 187px;
  height: 187px;
}

.featured {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 39px 74px 316px;
  grid-template-rows: 39px 316px;
  gap: 74px;
  padding: 131px 76px;
}
.featured__articles {
  display: -ms-grid;
  display: grid;
  gap: 28px;
  -ms-grid-columns: 1fr 28px 1fr 28px 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.mini_title {
  text-align: center;
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 60px;
  grid-template-rows: 1fr 60px;
  border-radius: 28px;
  border: 1px solid #565656;
}
.article__main {
  padding: 47px 40px;
}
.article__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
}
.article__description {
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
}
.article__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 21px;
  padding: 20px 40px;
  border-top: 1px solid #565656;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("./assets/img/read_more.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.screen-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 130px 2fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 2fr/1fr;
  gap: 130px;
  margin: 130px 76px;
}

.buy-punk {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 50%))[2];
  grid-template-columns: repeat(2, minmax(auto, 50%));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.buy-punk__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 53px;
  font-weight: 500;
  line-height: 67px;
  letter-spacing: -2px;
}
.buy-punk__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.buy-punk__description p {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 30px;
}
.buy-punk__description button {
  margin-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.lot {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  grid-column: 1fr 1fr;
  gap: 19px;
  grid-auto-rows: minmax(auto, 162px);
  -ms-grid-columns: minmax(auto, 50%) 19px minmax(auto, 50%);
  grid-template-columns: repeat(2, minmax(auto, 50%));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.lot__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 634px;
  padding: 38px 117px 38px 38px;
  border-radius: 28px;
  border: 1px solid #565656;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}
.lot__description_highlighted {
  background-color: #638596;
}
.lot__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 634px;
  height: 634px;
  border-radius: 37px;
  margin-left: 20px;
}